
Meow-Gallery/src/.DS_Store
Meow-Gallery/src/main/.DS_Store
Meow-Gallery/.classpath
Meow-Gallery/.DS_Store
Meow-Gallery/.settings/.jsdtscope
Meow-Gallery/.project
Meow-Gallery/.settings/org.eclipse.jdt.core.prefs
Meow-Gallery/.settings/org.eclipse.m2e.core.prefs
Meow-Gallery/.settings/org.eclipse.wst.common.component
Meow-Gallery/.settings/org.eclipse.wst.common.project.facet.core.xml
Meow-Gallery/.settings/org.eclipse.wst.jsdt.ui.superType.container
Meow-Gallery/.settings/org.eclipse.wst.jsdt.ui.superType.name
Meow-Gallery/.settings/org.eclipse.wst.validation.prefs
.DS_Store
Meow-Gallery/src/test/.DS_Store
