@import
	url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css")
	;

@import
	url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap')
	;

body {
	font-family: 'Open Sans', sans-serif;
}

.container-fluid {
	padding: 0;
}

.col {
	margin: 0.5rem 0;
}

.container {
	margin-top: 5rem !important;
	margin-bottom: 5.5rem !important;
}

@media ( min-width : 1200px) {
	.container {
		max-width: 62.5rem;
	}
	.card-body {
		min-height: 35%;
	}
	.navbar-brand i {
		font-size: 1.5rem;
	}
	.navbar-collapse ul li:first-child {
		padding-left: 2rem;
		padding-right: 0.5rem;
	}
	.navbar-collapse ul li :not(:first-child) {
		padding-left: 1.5rem;
		padding-right: 0.5rem;
	}
}

@media ( max-width : 800px) {
	.card-body {
		min-height: 35%;
	}
	.navbar-brand i {
		font-size: 1.5rem;
	}
	.navbar-collapse ul li:first-child {
		padding-left: 0;
		padding-right: 0;
	}
}

.card {
	width: 100%;
	height: 100%;
	margin-top: 1rem;
	min-width: 18rem;
}

.card img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.col {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.header-search {
	min-width: 20rem;
}

.navbar {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}

.footerIcon {
	margin-right: 1rem;
}

footer .navbar-collapse {
	flex-grow: 0;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
	backdrop-filter: blur(1rem);
	background-color: #f8f9fad9;
}

.card:hover .overlay {
	height: 30%;
}

.overlay .card-text:first-child {
	position: relative;
	overflow: hidden;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}